<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stocks.css">
</head>

<body>
    <%- include('common/common')%>
    <%total = 0%>
    <%profit = 0%>
    <h1><%= storename%></h1>
        <div>
           
            <form action="/stockdata" method="post">
                <h2>Stocks Form</h2>
                <label for="productname">productname</label>
                <input type="text" name="itemname" id="productname" required>
                <label for="quantity">quantity : </label>
                <input type="text" name="quantity" id="quantity" required>
                <label for="cost-price">Costprice : </label>
                <input type="text" name="costprice" id="cost-price" required>
                <label for="sellingprice">sellingprice : </label>
                <input type="text" name="sellingprice" id="sellingprice" required>
                <button type="submit">Add In Stock</button>
            </form>
            <table>
                <th>Item-Name</th>
                <th>Stocks</th>
                <th>Cost-Price</th>
                <th>sellingprice</th>
                <th>Sold</th>
                <th>Income</th>
                <th>Profit</th>
                <%data.forEach((el)=>{%>
                    <tr>
                       <%for(let i in el){%>
                            <%if(i == "err"){%>
                                <td colspan="7"><%= el[i]%></td> 
                           <%}else{%>
                            
                            <td><%= el[i]%></td>
                          
                            <%if(i == "income"){%>
                               <%total += parseInt(el[i])%>
                                <%}else if(i == "profit"){%>
                                    <%profit += parseInt(el[i])%>
                                 <%}%>      
                        <%}}%>
                    </tr>
                    <%})%>
                    <tr id="last">
                        <td colspan="5">Total</td>
                        <td><%=total%></td>
                        <td><%=profit%></td>
                    </tr>
            </table>
        </div>
</body>

</html>