<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task - List</title>
   <link rel="stylesheet" href="viewtask.css">

</head>

<body>
    <%- include('common/common')%>
        <h2>
            <%=detail.storename%>
        </h2>
        <table cellspacing="0.8">
            <thead>
            <th>Id</th>
            <th>Customer-Name</th>
            <th>E-mail</th>
            <th>Product-Name</th>
            <th>Purchase-Date</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Payment Mode</th>
            <th>Total</th>
        </thead>
            <%let data=detail.data%>
                <%if(data[0].errors=="No-Data Found!ðŸ”" ){%>
                    <tr>
                        <td colspan="9">
                            <%=data[0].errors%>
                        </td>
                    </tr>

                    <%}else{%>
                        <%var total=0%>
                            <%var len=detail.data.length%>
                                <%data.forEach((el)=> {%>
                                    <tr>
                                        <%for(let i in el){%>
                                            <td data-label=<%=i%>:>
                                                <%= el[i]%>
                                            </td>
                                            <%}%>
                                           
                                           

                                    </tr>
                                    <%})}%>
                                        <%for(let j=0;j<len;j++){ total +=parseInt(data[j].total); }%>
                                            <tr id="total">
                                                <td colspan="8">Total-Income:-</td>
                                                <td>
                                                    <%=total || 0%>
                                                </td>
                                            </tr>

        </table>
</body>

</html>