<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task - List</title>
    <style>
        table {
            margin: auto;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

        }

        th,
        td {
            padding: 14px;
            text-align: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifs;

        }

        th {
            background-color: rgb(21, 225, 157);
            color: rgb(11, 11, 11);
        }

        table tr:nth-child(odd) {
            background-color: rgb(186, 222, 210);
        }

        table tr:nth-child(even) {
            background-color: rgb(171, 239, 176);
        }

        h2 {
            text-align: center;
            margin-top: 70px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: rgb(215, 102, 238);
        }

        #total {
            background-color: rgb(21, 225, 157);
            color: rgb(11, 11, 11);
        }
    </style>

</head>

<body>
    <%- include('common/common')%>
        <h2>
            <%=detail.storename%>
        </h2>
        <table cellspacing="0.8">
            <th>Id</th>
            <th>Customer-Name</th>
            <th>E-mail</th>
            <th>Product-Name</th>
            <th>Purchase-Date</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Payment Mode</th>
            <th>Total</th>

            <%let data=detail.data%>
                <%if(data[0].errors=="No-Data Found!ðŸ”" ){%>
                    <tr>
                        <td colspan="9">
                            <%=data[0].errors%>
                        </td>
                    </tr>

                    <%}else{%>
                        <%var total=0%>
                            <%var len=detail.data.length%>
                                <%data.forEach((el)=> {%>
                                    <tr>
                                        <%for(let i in el){%>
                                            <td>
                                                <%= el[i]%>
                                            </td>
                                            <%}%>
                                           
                                           

                                    </tr>
                                    <%})}%>
                                        <%for(let j=0;j<len;j++){ total +=parseInt(data[j].total); }%>
                                            <tr id="total">
                                                <td colspan="8">Total</td>
                                                <td>
                                                    <%=total || 0%>
                                                </td>
                                            </tr>

        </table>
</body>

</html>